.video-container {
  width: 120%;
  padding-bottom: 75%; /* (315 / 560) * 100% */
  position: relative;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
